{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Instagram </title>
        {% block styles %}
         {% bootstrap_css %}
         <link rel="stylesheet" href="{% static 'styles.css'%}">
         <link rel="shortcut icon" href="{% static 'images/icons8-instagram-48.png' %}">
        {% endblock %}
    </head>
        <body>
            {% block content %} 
              {% include 'navbar.html' %}
               
            {% endblock %}
            {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         {% bootstrap_javascript %}
        {% endblock %}
            
        </body>
</html>