{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
      <body>
        <header>
            <div class="navigation">
               <a href="{% url 'Images' %}"><img src="{% static 'images/icons8-instagram-64.png'%}">&nbsp;&nbsp;&nbsp;&nbsp;</a>
               <div class="input-group">
                    
                    <input class="search" type="search" placeholder=" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Search" aria-label="Search">
                </div> 
                 <img src="{% static 'images/icons8-dog-house-50.png' %}">
                 <img src="{% static 'fontawesome/svgs/regular/user-circle.svg' %}">
            </div>    
            
            
        </header>
      </body>          